/* Override some defaults */
html, body {
  background-image: url(/assets/themes/twitter/images/back1.png);
  background-repeat: repeat;
}

html, body, p {
  font-family: 'Droid Serif', serif;
  font-size: 15px;
}

a{color:#012975;text-decoration:none;}
a:hover{color:#426ec1;text-decoration:underline;}

.active>a, .navbar .nav .active>a:hover {
	background-color: #666;
}

.navbar {
  margin-bottom: 0;
  background-image: url(/assets/themes/twitter/images/back3.png);
  background-repeat: repeat;
} 

.navbar .nav>li>a{float:none;padding:10px 10px 11px;line-height:19px;color:#555;text-decoration:none;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.navbar .nav>li>a:hover{background-color:transparent;color:#ffffff;text-decoration:none;}

.navbar-inner {
	height: 100px;	
}

.topnav {
	background-color: transparent; 
	height: 40px;
	width: 980px;
	text-align: center;
	margin: auto;
}

ul.nav {
	width: 980px;
	margin: auto;
}

.container-wrap {
	width: 100%;
    background-image: url(/assets/themes/twitter/images/back2.png);
    background-repeat: repeat;
}


.container > footer {
  margin-top: 20px;
  color: #ccc;
  
}
.container > footer p {
  text-align: center; /* center align it with the container */
  font-size: 12px;
}

footer a {
	color: #ddd;
	text-decoration: underline;
}

footer a:hover {
	color: #fff;
	text-decoration: none;
}
	

/* The white background content wrapper */
.content {
  background-color: transparent;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* Headings */


h1 {
  font-family: 'Fjalla One', serif;
  color: #888;
  font-weight: bold;
  font-size: 40px;
  background-color: transparent;
  border: none;
}

h2 {
  font-family: 'Medula One', serif;
  font-size: 35px;
  color: #7d0101;
  background-color: transparent;
  padding: 15px 0 12px 0;
}



/* Page header tweaks */
.page-header {
  background-color: transparent;
  padding: 20px 20px 10px;
  margin: 0 -20px 20px;  
  border: none;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
